/*
* Copyright 2016-2025 ammwinchande.com/ProprietaryProjects
*/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
    color: #030303;
    background-color: white;
}


/* page loading */

.page-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../img/def-pageloader.gif') 50% 50% no-repeat #fff;
}

.navbar-brand p {
    color: #115ea6;
    font-weight: 800;
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
    font-size: 15px;
}

.navbar-form {
    margin-top: 15px;
    padding: 10px;
}


@media (max-width: 475px) {
    .default-navbar .navbar-collapse,
    .navbar-default .navbar-form {
        border-style: none;
        border-color: #e7e7e7;
    }
}

.navbar-toggle {
    margin-bottom: 10px;
}


/* menu close */

.navbar-toggle {
    border: none;
    background: #115ea6 !important;
}

.navbar-toggle:hover {
    background: #115ea6 !important;
}

.navbar-toggle.icon-bar {
    background-color: #115ea6;
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    padding-left: 5px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
}


/* end menu close*/

.menu-text {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

.icon-div {
    display: inline-block;
}

.icon-bar {
    background-color: #fff;
}

.default-navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, sans-serif, Arial;
    background-color: #fff;
    color: #4B4B4B;
    font-weight: 600;
}

.default-navbar .navbar-toggle {
    color: white;
    background-color: rgba(17, 94, 166, 0.9);
    font-size: 12px;
}

.default-navbar .navbar-toggle:focus,
.default-navbar .navbar-toggle:active {
    outline: none;
}

.default-navbar .navbar-brand:focus {
    outline: none;
}

.default-navbar a {
    color: #000;
}

.default-navbar .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.default-navbar .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: rgba(9, 138, 206, 0.8);
}

.default-navbar .nav li a:focus,
.default-navbar .nav li a:active {
    outline: none;
    background-color: transparent;
}

.default-navbar .nav li.active a {
    outline: none;
}

.default-navbar .nav li.active a {
    background-color: #115ea6;
    color: #fff;
    /* font-color when active */
}

.default-navbar .nav li.active a:hover {
    background-color: #115ea6;
}

@media (min-width: 768px) {
    .default-navbar {
        padding: 20px 0;
        font-size: 13px;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }
    .default-navbar.top-nav-collapse {
        padding: 0;
        background: #EFEFEF;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    body {
        width: 100%;
        height: 100%;
    }
}

hr {
    border-color: #115ea6;
    border-width: 3px;
    max-width: 50px;
}

.light {
    border-color: white;
}

.dark {
    border-color: #333;
}

.full {
    max-width: 100%;
    border-width: 1px;
    border-color: #5A5A5A;
}

.full-style {
    border-style: dashed;
}

.header-content-inner a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #fff;
}

.header-content-inner a:hover,
.header-content-inner a:focus {
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, Arial;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

blockquote {
    border-left-color: #6da66a;
}

.text-faded {
    color: rgba(255, 255, 255, 0.7);
}


/* header slider */

.carousel,
.item {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    height: 100%;
    width: 100%;
}

.carousel-margin {
    margin-bottom: 120px;
}

.carousel-indicators li {
    border: 1px solid #115ea6;
}

.carousel-indicators .active {
    background-color: #115ea6;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.no-padding {
    padding: 0;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.header-content {
    text-align: center;
    position: relative;
    padding-left: 15px;
    padding-bottom: 150px;
    width: 100%;
}

.header-content .header-content-inner h1 {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
}

.header-content .header-content-inner hr {
    margin: 30px auto;
}

.header-content .header-content-inner p {
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    margin-bottom: 50px;
}

@media (max-width: 425px) {
    .header-content .header-content-inner h1 {
        font-size: 20px;
    }
    .header-content .header-content-inner h1 {
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
    }
    .header-content .header-content-inner {
        margin-top: 40%;
    }
}

section {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}

.sectionHeading {
    text-transform: uppercase;
    color: #334;
    font-size: 25px;
}

.products {
    margin-top: 0;
}

.pop-box {
    box-shadow: 0 0 5px #dedede;
}

.featured {
    margin-top: 0;
}

#featuredCarousel {
    margin-top: 30px;
}

#featuredCarousel .carousel-inner .item img {
    width: 650px;
    height: 400px;
}

#featuredCarousel .carousel-inner .item .carousel-caption {
    background-color: rgba(9, 138, 206, 0.1);
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: left;
    padding-left: 15px;
}

@media(max-width: 768px) {
    #featuredCarousel {
        margin: 0;
    }
    .feature-box {
        margin: 0 auto;
    }
}

.feature-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 20px auto;
}

.feature-box img {
    width: 650px;
    height: 150px;
}

.feature-box .feature-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(9, 138, 206, 0.6);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    box-shadow: 0 16px 16px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.35s;
}

.feature-box feature-box-caption .feature-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.feature-box .feature-box-caption .feature-box-caption-content .feature-category,
.feature-box .feature-box-caption .feature-box-caption-content .feature-name {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, Arial;
    padding: 10px 15px;
    margin-top: 30px;
}

.feature-box .feature-box-caption .feature-box-caption-content .feature-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.feature-box .feature-box-caption .feature-box-caption-content .feature-name {
    font-size: 18px;
}

.feature-box:hover .feature-box-caption {
    opacity: 1;
}

.feature-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .feature-box .feature-box-caption .feature-box-caption-content .feature-category {
        font-size: 16px;
    }
    .feature-box .feature-box-caption .feature-box-caption-content .feature-name {
        font-size: 22px;
    }
}

@media(max-width: 500px) {
    .no-gutter > [class*='col-'] {
        padding-right: 0px;
        padding-left: 15px;
    }
}

.wooden {
    background-position: center;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url('../../img/paint-wood.jpg');
}

.wooden h2,
.wooden p {
    margin-top: 40px;
    color: #fff;
    font-weight: 900;
    transition: 0.5s;
}

.wooden:hover {
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2);
}

@media(max-width: 360px) {
    .wooden h2,
    .wooden p {
        margin-top: 60px;
    }
    .wooden h2 {
        font-size: 15px;
    }
    .wooden p {
        font-size: 10px;
    }
}

.support {
    margin-left: 10px;
    top: 30px;
}

.support-icon {
    margin-top: 10px;
}

.support-icon img {
    background-color: #115ea6;
}

@media(max-width: 760px) {
    .support-icon {
        margin-bottom: 0px;
    }
    .support-icon img {
        margin-left: 40%;
    }
    .support-message {
        margin-left: 0;
    }
    .support-message h4 {
        margin-top: 25px;
        margin-left: 0;
        text-align: center;
    }
    .support-message p {
        margin-left: 0;
        text-align: center;
    }
}

@media(max-width: 760px) and (orientation: landscape) {
    .support-icon {
        margin-bottom: 0px;
    }
    .support-icon img {
        margin-left: 40%;
    }
}

.support-message h4 {
    color: #115ea6;
    font-weight: bold;
    font-stretch: ultra-condensed;
}

.support-message p {
    color: #444;
    font-weight: normal;
    font-size: 15px
}

.support:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
}


/* end feature */

.prod-card {
    transition: 0.3s ease-in-out;
    width: 100%;
    border-radius: 1px;
    border-width: 1px;
    margin-left: 0;
    padding: 1px 1px 2px 0;
}

.prod-card img {
    width: 350px;
    height: 300px;
}

@media(max-width: 700px) {
    .prod-card img {
        width: 200px;
        height: 200px;
        margin-left: 22%;
    }
}

@media(max-width: 750px) and (orientation: landscape) {
    .prod-card img {
        width: 200px;
        height: 200px;
        margin-left: 35%;
    }
}

.prod-content {
    padding: 2px 16px;
}

.prod-content h4 {
    font-weight: 400;
    color: #333;
    margin-bottom: 0px;
}

.prod-content p {
    font-size: 15px;
}

.prod-card:hover {
    box-shadow: 0 32px 32px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.product-footer {
    margin-top: 15px;
    padding: 10px 0 10px;
}


/* end products */

.services {
    padding-top: 50px;
    margin-top: 0px;
}

.container .jumbotron {
    border-radius: 0;
}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron p {
    font-weight: 300;
    font-size: 21px;
}

.service-img {
    margin-top: 15px;
    padding-top: 10px;
    margin: 0 auto;
}

@media(max-width: 750px) {
    .service-img {
        margin: 0 32%;
    }
}

@media(max-width: 750px) and (orientation: landscape) {
    .service-img {
        margin: 0 38%;
    }
}


/* end services */

.about {
    background-color: rgba(17, 94, 166, 0.8);
    color: white;
    margin-top: 20px;
    padding: 50px 0 50px;
}

.about-content {
    margin-top: 20px;
}

.about-content p {
    font-size: 18px;
}

.about-more {
    margin-top: 30px;
}

.about-more a {
    color: #115ea6;
}

.about-more a:hover {
    text-decoration: none;
    color: rgba(17, 94, 166, 0.9);
}

@media screen and (max-width: 500px) {
    .about-more a {
        font-size: 15px;
    }
}


/* end about */

.contact-content address {
    margin-top: 30px;
}

.form-control {
    border-radius: 0;
    margin-bottom: 5px;
    background-color: #efefef;
    font-weight: 300;
    font-size: 18px;
}

.form-control:hover {
    border-width: 2px;
    border-color: rgba(17, 94, 166, 0.6);
}

.btn-style {
    margin-top: 15px;
    margin-left: 20px;
}

.bg-icons {
    color: #115ea6;
}


/* end contact */


/* btn-circle */

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 25px;
    padding: 7px 16px;
    border: 2px solid;
    border-color: rgba(17, 94, 166, 0.6);
    border-radius: 100% !important;
    font-size: 40px;
    color: rgba(17, 94, 166, 0.6);
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: none;
    color: rgba(17, 94, 166, 1.0);
    background: rgba(17, 94, 166, 0.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn-cust {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif, Arial;
    border-color: rgba(17, 94, 166, 0.6);
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}

.btn-primary {
    color: white;
    background-color: #115ea6;
    border-color: #115ea6;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: #098ace;
    border-color: #115ea6;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: rgba(17, 94, 166, 1);
    border-color: #333;
}

.btn-primary .badge {
    color: #115ea6;
    background-color: white;
}

.btn-secondary {
    color: #333;
    background-color: #fff;
    border-color: #333;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #333;
}

.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
    background-image: none;
}

.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled.focus,
.btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary.focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: #333;
}

.btn-secondary .badge {
    color: #333;
    background-color: white;
}

.footer {
    background-color: #efefef;
    padding-top: 2px;
    border: 1px;
}